::-webkit-inner-spin-button {
  display: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  min-width: 300px;
  background-color: #1e1e1e;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  display: block;
}

.container h1 {
  margin-bottom: 1rem;
  color: #f0f0f0;
}

.container button {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

form {
  background-color: #1e1e1e;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  gap: 20px;
  width: 300px;
  display: flex;
  position: relative;
}

#formSwap,
#formPalindrome,
#formOddEven {
  display: none;
}

.back {
  text-decoration: none;
  position: absolute;
  right: 2%;
  top: 3%;
  font-size: 14px;
  color: #bbb;
  text-transform: uppercase;
  transition: 0.3s;
}

.back:hover {
  color: #0d6efd;
}

h1 {
  text-align: center;
  font-size: 26px;
  color: #fff;
  margin: 0;
}

.mssg,
.mssgOE {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: none;
  font-weight: bold;
  font-size: 16px;
}

.green {
  color: #28a745;
}

.red {
  color: #dc3545;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #2c2c2c;
  color: #fff;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:disabled {
  background: #062f5a5b;
  cursor: not-allowed;
}

#numberA {
  color: #0d6efd;
  background-color: #2c2c2c;
}

#numberB {
  color: #d63384;
  background-color: #2c2c2c;
}

#numberA.swapped {
  color: #d63384;
}

#numberB.swapped {
  color: #0d6efd;
}

.error {
  border-color: #dc3545;
  animation: shake 0.5s linear infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

#copyRight {
  color: #bbb;
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  user-select: none;
}
